/* .Editor .bottom_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 */


.Write .bottom_section {
  display : flex;
  justify-content: space-between;
  align-items: center;
}

.Write .left_button {
  width: 25%;
  justify-content: start;
}

.Write .right_button {
  width: 25%;
  justify-content: end;
}

h2 {
  display: block;
  font-size: 1.125rem;
  font-weight: 100;
  color: black;
  line-height: 1.35em;
  text-align: left;
}