.Button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 15px;
  white-space: nowrap;
}

.Button_write_button {
  border: 1px solid black;
  color: black;
  background-color: white;
  width: 50%;
}

.Button_default {
  background: white;
  color: black;
}

.Button_positive {
  background: orange;
  color: white;
}

.Button_negative {
  background: salmon;
  color: white;
}

.Button_whiteBack {
  background: white;
  color: black;
}

